// Vertical
$value-vertical-list: (8,12,16,53,58);
@each $size in $value-vertical-list {
  .sp-v--#{$size} {
    width: 100%;
    height: #{$size}px;
  }
}

// Horizontal
$value-horizontal-list: (8,16,12);

@each $size in $value-horizontal-list {
  .sp-h--#{$size} {
    width: #{$size}px;
    height: 100%;
  }
}